services:
  postgres:
    image: postgres:18
    ports:
      - '5432:5432'
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: friendly_system
    volumes:
      - pgdata:/var/lib/postgresql

volumes:
  pgdata:
